<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">TG Vintages was founded on the basis that wineries are currently underserved in the distribution marketplace. In three tiered distribution, it is easy to be lost and forgotten about in large distribution warehouseothes. Our brands are with us because we go to bat for them, we grind to get theri brand into places thought impossible. Drop us a line if you would like to see our brands somewhere near you, or if you would like to have us add your brand to our ever growing portfolio. </h3>
                </div>
            </div>
        </div>
    </section>
