<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <a href="http://www.shadycreekwinery.com/">
                        <img src="https://tfiblogdotorg.files.wordpress.com/2012/03/shady-creek1.jpg" class="img-responsive img-centered" alt="Shady Creek Winery">
                    </a>
                </div>
            </div>
        </div>
    </aside>